# Binaries (root only)
/wl

# Build caches
.gocache/
.gomodcache/
.cache/

# Workspace data
.workline/
workline.yml

# Editor
.DS_Store
.idea/
.vscode/

.env
sdk/python/__pycache__/workline.cpython-311.pyc
